.wrapper {
  background-color: rgb(252, 229, 27);
}

#logo {
  display: block;
  margin: 5px auto;
  padding-top: 10px;
  height: 120px;
  width: 665px;
}

img {
  height: 150px;
  width: 150px;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

#beer {
  width: 80px;
}

#cola {
  width: 80px;
}

#candy {
  width: 120px;
}

#ham {
  height: 120px;
  width: 140px;
}

#cupcake {
  width: 140px;
}

#checkout {
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 10px 0 40px 0;
  width: 200px;
  height: 55px;
  border-radius: 4px;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  background-color: rgb(43, 99, 196);
}
